streamlit
python-dotenv

langchain==0.0.305
chromadb==0.4.15
posthog==3.0.2

openai==0.28.1
tiktoken

pypdf
python-docx
openpyxl
python-pptx
pandas

pillow
pytesseract

pydantic==1.10.13